
<div class="flex min-h-full flex-col px-6 py-12 lg:px-8">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">
    <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Change password</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
    <form (ngSubmit)="onSubmit()" [formGroup]="changePasswordForm" class="space-y-6" action="#" method="POST">
      <div>
        <label for="oldPassword" class="block text-sm font-medium leading-6 text-gray-900">Old password</label>
        <div class="mt-2">
          <input formControlName="oldPassword" id="oldPassword" name="oldPassword" type="password" autocomplete="oldPassword" required class="p-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 disabled:opacity-50">
          <div *ngIf="changePasswordForm.controls['oldPassword']?.invalid && (changePasswordForm.controls['oldPassword']?.dirty || changePasswordForm.controls['oldPassword']?.touched)">
            <div *ngIf="changePasswordForm.controls['oldPassword']?.errors?.required">Old password is required.</div>
          </div>
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label for="newPassword" class="block text-sm font-medium leading-6 text-gray-900">New password</label>
        </div>
        <div class="mt-2">
          <input formControlName="newPassword" id="newPassword" name="newPassword" type="password" autocomplete="current-newPassword" required class="p-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 disabled:opacity-50">
          <div *ngIf="changePasswordForm.controls['newPassword']?.invalid && (changePasswordForm.controls['newPassword']?.dirty || changePasswordForm.controls['newPassword']?.touched)">
            <div *ngIf="changePasswordForm.controls['newPassword']?.errors?.required">New password is required.</div>
            <div *ngIf="changePasswordForm.controls['newPassword']?.errors?.minlength">New password must be at least 8 characters.</div>
            <div *ngIf="changePasswordForm.controls['newPassword']?.errors?.maxlength">New password cannot exceed 20 characters.</div>
            <div *ngIf="changePasswordForm.get('password').hasError('passwordValidator')">Password should contain lowercase and uppercase letter,
              a digit and special sign.</div>
          </div>
        </div>
      </div>

      <div>
        <div class="flex items-center justify-between">
          <label for="confirmNewPassword" class="block text-sm font-medium leading-6 text-gray-900">Repeat new password</label>
        </div>
        <div class="mt-2">
          <input formControlName="confirmNewPassword" id="confirmNewPassword" name="confirmNewPassword" type="password" autocomplete="current-confirmNewPassword" required class="p-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 disabled:opacity-50">
          <div *ngIf="changePasswordForm.controls['confirmNewPassword']?.invalid && (changePasswordForm.controls['confirmNewPassword']?.dirty || changePasswordForm.controls['confirmNewPassword']?.touched)">
            <div *ngIf="changePasswordForm.controls['confirmNewPassword']?.errors?.required">Password is required.</div>
            <div *ngIf="changePasswordForm.controls['confirmNewPassword']?.errors?.minlength">Password must be at least 8 characters.</div>
            <div *ngIf="changePasswordForm.controls['confirmNewPassword']?.errors?.maxlength">Password cannot exceed 20 characters.</div>
          </div>
          <div *ngIf="changePasswordForm.hasError('passwordMismatch')">Passwords do not match.</div>
        </div>
      </div>

      <div>
        <button type="submit" [disabled]="changePasswordForm.invalid" id="button" name="button"
                class="flex w-full justify-center rounded-md px-3 py-1.5 text-sm font-semibold leading-6 shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 disabled:opacity-50
                      {{ !changePasswordForm.invalid ? 'bg-indigo-500 hover:bg-indigo-700 text-white' : 'bg-gray-300 cursor-not-allowed text-gray-500' }}">
          Sign in</button>
      </div>
      <div *ngIf="changePasswordError" class="error-message bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
        Change password failed. Please check your credentials or improve password strength.
      </div>
    </form>
  </div>
</div>
