<!-- app-your-component.component.html -->

<div class="max-w-md mx-auto m-10 p-6 bg-white rounded-md shadow-md">
  <h2 class="text-2xl mb-4">Partial Password Form</h2>

  <form [formGroup]="passwordForm" (ngSubmit)="submitPassword()">

    <div class="flex flex-wrap -mx-2">
      <div class="w-1/4 px-2 mb-4">
        <label for="password-input-0" class="text-sm">{{ passwordArray.at(0).part }}</label>
        <input
          id="password-input-0"
          name="passwordInput0"
          type="text"
          maxlength="1"
          formControlName="passwordInput0"
          class="w-full h-8 text-center border border-gray-300 rounded focus:outline-none focus:border-blue-500"
        />
      </div>
      <div class="w-1/4 px-2 mb-4">
        <label for="password-input-1" class="text-sm">{{ passwordArray.at(1).part }}</label>
        <input
          id="password-input-1"
          name="passwordInput1"
          type="text"
          maxlength="1"
          formControlName="passwordInput1"
          class="w-full h-8 text-center border border-gray-300 rounded focus:outline-none focus:border-blue-500"
        />
      </div>
        <div class="w-1/4 px-2 mb-4">
          <label for="password-input-2" class="text-sm">{{ passwordArray.at(2).part }}</label>
          <input
            id="password-input-2"
            name="passwordInput2"
            type="text"
            maxlength="1"
            formControlName="passwordInput2"
            class="w-full h-8 text-center border border-gray-300 rounded focus:outline-none focus:border-blue-500"
          />
        </div>
        <div class="w-1/4 px-2 mb-4">
          <label for="password-input-3" class="text-sm">{{ passwordArray.at(3).part }}</label>
          <input
            id="password-input-3"
            name="passwordInput3"
            type="text"
            maxlength="1"
            formControlName="passwordInput3"
            class="w-full h-8 text-center border border-gray-300 rounded focus:outline-none focus:border-blue-500"
          />
        </div>
    </div>
    <!-- Submit button -->
    <button type="submit" class="mt-4 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 focus:outline-none">
      Submit
    </button>
  </form>

  <!-- Additional information or instructions -->
  <div class="mt-4 text-sm text-gray-600">
    <p>Instructions: input letters of your password at given indexes. First letter has index 1.</p>
  </div>
</div>
